# Fichiers de configuration et secrets
.env

# Environnement virtuel Python
.venv/
venv/
env/

# Fichiers caches de Python
__pycache__/
*.pyc

# tests
tests/

# Logs
logs/
*.log

# --- NOUVEAUX AJOUTS (Builds & Installeurs) ---

# Dossiers de build (Nuitka / PyInstaller)
*.dist/
*.build/
*.onefile-build/
dist/
build/

# Installeurs générés par Inno Setup
Output/
*.iss

# Exécutables (pour éviter de push les .exe de test ou finaux)
*.exe